[Unit]
Description=Autonomous Ardupilot mission starter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=aahswarm
WorkingDirectory=/home/aahswarm/NIDAR_RescueSwarm/mission
Environment=VIRTUAL_ENV=/home/aahswarm/px4_mavsdk_env
Environment=PATH=/home/aahswarm/px4_mavsdk_env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/aahswarm/NIDAR_RescueSwarm/mission/start_ardupilot_mission.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
